body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  background-color: #35424a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #A9508b;
}

.left {
  letter-spacing: 0.3px;
  font-size: 25px;
  color: white;
}

.left span {
  color: #A9508b;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

.right a:link {
  color: #A9508b;
}

.right a:hover {
  color: #ccc;
  font-weight: bold;
}

.right a:first-child {
  color: #A9508b;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 720px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #35424a;
}

.search-container h3 {
  font-size: 20px;
  color: white;
}

.search {
  margin: 25px 5px;
  height: 35px;
  width: 250px;
}

.subscribe {
  height: 35px;
  width: 100px;
  background: #A9508b;
  border: 0;
  color: white;
}

@media (max-width: 720px) {
  .search-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider {
  height: 400px;
  background-image: url(../img/showcase.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.slider h1 {
  font-weight: bold;
  font-size: 55px;
}

.slider p {
  font-size: 20px;
  margin: 0 100px;
  text-align: center;
}

.content {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #A9508b;
}

.content h3 {
  font-weight: bolder;
  font-size: 20px;
}

.content p {
  font-size: 15px;
}

.column {
  width: 25%;
  text-align: center;
  padding: 10px;
}

#photos {
  margin: 10px;
  height: 100px;
  width: auto;
}

@media (max-width: 720px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column {
    width: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */